<span class="anchor-id__span" id="starter-kit"></span>
<section class="starter-kit-section generic-section">
  <h2 class="generic-section__title">Starter Kit Essential Oils</h2>
  <div class="carousel">
    <i class="fa fa-chevron-circle-left fa-3x carousel__controls carousel__controls--left" role="button"></i>
    <span class="sr-only">Previous</span>
    <div class="carousel__container">
      <div class="carousel__card">
        <h1 class="carousel__item-title"><%= oils[oils.length-1].name %></h1>
        <div class="carousel__items">
          <div class="carousel__image-container">
            <img class="carousel__image" src="<%= oils[oils.length-1].image %>" alt="<%= oils[oils.length-1].imageAlt %>" />
          </div>
          <div class="carousel__detail-list">
            <% for(let i = 0; i < oils[oils.length-1].information.length; i++) { %>
              <p class="carousel__detail-list-item"><%= oils[oils.length-1].information[i] %></p>
            <% } %>
          </div>
        </div>
      </div>
      <% for(let i = 0; i < oils.length - 1; i++) { %>
        <div class="carousel__card">
          <h1 class="carousel__item-title"><%= oils[i].name %></h1>
          <div class="carousel__items">
            <div class="carousel__image-container">
              <img class="carousel__image" src="<%= oils[i].image %>" alt="<%= oils[i].imageAlt %>" />
            </div>
            <div class="carousel__detail-list">
              <% for(let j = 0; j < oils[i].information.length; j++) { %>
                <p class="carousel__detail-list-item"><%= oils[i].information[j] %></p>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <i class="fa fa-chevron-circle-right fa-3x carousel__controls carousel__controls--right" role="button"></i>
    <span class="sr-only">Next</span>
  </div>
  <div class="mobile-starter-kit">
    <div class="mobile-starter-kit__accordion">
      <h2 class="mobile-starter-kit__name"><%= oils[0].name %></h2>
      <div class="mobile-starter-kit__contents">
        <% for(let i = 0; i < oils[0].information.length; i++) { %>
          <p class="mobile-starter-kit__content-item"><%= oils[0].information[i] %></p>
        <% } %>
      </div>
    </div>
    <% for(let i = 1; i < oils.length; i++) { %>
      <div class="mobile-starter-kit__accordion">
        <h2 class="mobile-starter-kit__name"><%= oils[i].name %></h2>
        <div class="mobile-starter-kit__contents">
          <% for(let j=0; j < oils[i].information.length; j++) { %>
            <p class="mobile-starter-kit__content-item"><%= oils[i].information[j] %></p>
          <% } %>
        </div>
      </div>
    <% } %>
    <div class="mobile-starter-kit__controls-container">
      <div class="mobile-starter-kit__expand">Expand All</div>
      <div class="mobile-starter-kit__collapse">Collapse All</div>
    </div>
  </div>
</section>
