<% include ../partials/header %>
  <% include ../partials/top-section %>
    <div class="row row--gutters-medium">
      <div class="row__medium-8">
        <h2 class="generic-text-container">Posts tagged with <%= tag %></h2>
        <% for(var i = 0; i < posts.length; i++) { %>
          <div class="recent-post card">
            <a href="/posts/<%= posts[i]._id %>">
              <div class="row">
                <div class="recent-post__left-side">
                  <img class="recent-post__image" src="<%= posts[i].image %>" />
                </div>
                <div class="recent-post__right-side">
                  <div class="recent-post__text">
                    <% for (var j = 0; j < posts[i].tags.length ; j++) { %>
                      <span class="recent-post__tag"><%= posts[i].tags[j] %></span>
                    <% } %>
                    <h3 class="recent-post__title"><%= posts[i].title %></h3>
                    <% var monthNames = [
                        "January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "November", "December"
                      ];

                      var month = monthNames[posts[i].postDate.getMonth()];
                      var day = posts[i].postDate.getDate();
                      var year = posts[i].postDate.getFullYear();
                    %>
                    <p class="recent-post__date"><%= month + ' ' + day + ', ' + year %></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% } %>
      </div>
    <% include ../partials/sidebar %>
  </div>
</div>
<% include ../partials/footer %>
