<% include ../partials/header %>
  <% include ../partials/top-section %>
  <div class="row row--gutters-medium">
    <div class="row__medium-8">
      <h2 class="generic-text-container">Recent Posts</h2>
      <%# Last three recent blog posts in smaller card format on left side column %>
      <%# Refactor to ejs loop %>
      <% for (var i = posts.length - 1; i > posts.length - 4; i--) { %>
        <div class="recent-post card">
          <a href="/posts/<%= posts[i]._id %>">
            <div class="row">
              <div class="recent-post__left-side">
                <img class="recent-post__image" src="<%= posts[i].image %>" />
              </div>
              <div class="recent-post__right-side">
                <div class="recent-post__text">
                  <% for (var j = 0; j < posts[i].tags.length ; j++) { %>
                    <a class="recent-post__tag" href="/tags/<%= posts[i].tags[j] %>"><%= posts[i].tags[j] %></a>
                  <% } %>
                  <a href="/posts/<%= posts[i]._id %>">
                    <h3 class="recent-post__title"><%= posts[i].title %></h3>
                  </a>
                  <% var monthNames = [
                      "January", "February", "March", "April", "May", "June",
                      "July", "August", "September", "November", "December"
                    ];

                    var month = monthNames[posts[i].postDate.getMonth()];
                    var day = posts[i].postDate.getDate();
                    var year = posts[i].postDate.getFullYear();
                  %>
                  <p class="recent-post__date"><%= month + ' ' + day + ', ' + year %></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% } %>
    </div>
    <%# Second column for archoved posts and tags %>
    <% include ../partials/sidebar %>
  </div>

  <% include ../partials/divider %>


  <% include ../partials/disclaimer %>
<% include ../partials/footer %>
