<% include ../partials/header %>
  <% include ../partials/top-section %>

      <div class="row row--gutters-medium">
        <div class="row__medium-8">
          <h2 class="generic-text-container">Recent Posts</h2>
          <%# Last three recent blog posts in smaller card format on left side column %>
          <%# Refactor to ejs loop %>
          <% for (var i = posts.length - 1; i > posts.length - 4; i--) { %>
            <div class="recent-post card">
              <a href="/posts/<%= posts[i]._id %>">
                <div class="row">
                  <div class="recent-post__left-side">
                    <img class="recent-post__image" src="<%= posts[i].image %>" />
                  </div>
                  <div class="recent-post__right-side">
                    <div class="recent-post__text">
                      <% for (var j = posts[i].tags.length - 1; j < posts[i].tags.length; j++) { %>
                        <p class="recent-post__tag"><%= posts[i].tags[j] %></p>
                      <% } %>
                      <h3 class="recent-post__title"><%= posts[i].title %></h3>
                      <p class="recent-post__date"><%= posts[i].postDate %></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <% } %>
        </div>
        <%# Second column for archoved posts and tags %>
        <% include ../partials/sidebar %>
      </div>
    </div>
    <div class="wrapper">
      <div class="divider">
        <%# Link to main app %>
        <div class="divider__title divider__title--t-margin">
          <h2><a class="divider__link" href="#">Join Young Living</a></h2>
        </div>
      </div>
      <h2 class="generic-text-container generic-text-container--t-margin generic-text-container--large-font">Other Posts</h2>
      <div class="row row--gutters-medium">
      <% for (var i = posts.length - 4; i > posts.length - 6; i--) { %>
        <div class="row__small-4 row__small-4--b-margin">
          <a href="/posts/<%= posts[i]._id %>">
            <div class="older-post card">
              <img class="older-post__image" src="<%= posts[i].image %>" />
              <div class="older-post__text">
                <% for (var j = posts[i].tags.length - 1; j < posts[i].tags.length; j++) { %>
                  <p class="older-post__tag"><%= posts[i].tags[j] %></p>
                <% } %>
                <h3 class="older-post__title"><%= posts[i].title %></h3>
                <p class="older-post__date"><%= posts[i].postDate %></p>
              </div>
            </div>
          </a>
        </div>
        <% } %>
      </div>
      <%# Button will load another six posts then move to the end of the list
      to allow for more to be loaded until end %>
      <button class="button button--b-margin button--b-radius">Load More</button>
    </div>
<% include ../partials/footer %>
