<% include ../partials/header %>

    <%# Most recent blog in hero format %>
    <div class="wrapper wrapper--p-top wrapper--b-margin">
      <div class="blog-post">
        <img class="blog-post__image" src="<%= post.image %>" />
        <div class="blog-post__title-container">
          <h1 class="blog-post__title"><%= post.title %></h1>
        </div>
      </div>

      <div class="row row--gutters-medium">
        <div class="row__medium-8">
          <% if(currentUser && currentUser.role === 'admin') { %>
            <div class="button__wrapper">
              <a href="/posts/<%= post._id %>/edit" class="button button--b-radius button--small button--yellow">Edit</a>
              <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button class="button button--b-radius button--margins button--red">Delete</button>
              </form>
            </div>
          <% } %>
          <%# Post goes here %>
          <p><%- post.content %></p>
          <div class="blog-post__end-line"></div>
          <%# Display associated comments %>
          <div class="row">
            <h3 class="blog-post__comments-title">Comments</h3>
            <a class="button button--b-radius button--pull-right" href="/posts/<%= post._id %>/comments/new">
              Leave a comment
            </a>
          </div>
          <% post.comments.forEach(function(comment) { %>
            <div class="comment-wrapper">
              <div class="comment-wrapper__top">
                <h4><%= comment.author.username %></h4>
                <h4>Posted on: Date</h4>
              </div>
              <div class="comment-wrapper__bottom">
                <p><%= comment.text %></p>
                <% if((currentUser && comment.author.id.equals(currentUser._id)) || (currentUser && currentUser.role === 'admin')) { %>
                  <div class="button__wrapper">
                    <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit"
                      class="button button--b-radius button--small button--yellow">
                      Edit
                    </a>
                    <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <button class="button button--b-radius button--margins button--red">Delete</button>
                    </form>
                  </div>
                <% } %>
              </div>
            </div>
          <% }); %>
        </div>
        <% include ../partials/sidebar %>
      </div>
    </div>

 <%# include ../partials/bottom-section %>
<% include ../partials/footer %>
